<%= simple_form_for(@pool) do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :pot_percentage %>
  <%= f.input :end_date, as: :string, input_html: { class: "datepicker"} %>
  <%= f.input :completed %>
  <%= f.input :active_clasification, as: :boolean %>
  <%= f.input :active_elimination, as: :boolean %>
  <%= f.input :match_ids, collection: Match.all,
    input_html: { id: "multiselect-matches", multiple: true } %>
  <%= f.input :elimination_match_ids, collection: EliminationMatch.all,
    input_html: { id: "multiselect-e-matches", multiple: true } %>
  <%= f.button :submit, class: "btn btn-success" %>
  <%= link_to "Volver", pools_path, class: "btn btn-default" %>
<% end %>
