<% if current_user.regular? %>
<div class="row">
  <div class="col-md-8">
    <%= render "options_panel" %>
    <% if @matches.any? %>
      <%= render partial: "matches_for_today", locals: { matches: @matches } %>
    <% end %>
    <% if @elimination_matches.any? %>
      <%= render partial: "elimination_matches_for_today",
        locals: { elimination_matches: @elimination_matches } %>
    <% end %>
    <% if @bets.any? %>
      <%= render partial: "bets_for_today", locals: { bets: @bets } %>
    <% end %>
    <% if @elimination_bets.any? %>
      <%= render partial: "elimination_bets_for_today",
        locals: { elimination_bets: @elimination_bets } %>
    <% end %>
    <div class="info-container">
      <div class="dashboard-info">
        <div class="description">PARTICIPANTES</div>
        <div class="info"><span><%= @users.count %></span></div>
      </div>
      <div class="dashboard-info">
        <div class="description">POTE EN BS.</div>
        <div class="info">
          <span><%= number_with_precision(@pool.pot_size, separator: ',', delimiter: '.') %></span>
        </div>
      </div>
      <div class="dashboard-info">
        <div class="description">MI POSICIÓN</div>
        <div class="info">
          <span><%= position_in_classification(@table, current_user.nickname) %></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <%= render partial: "clasification", locals: { classification: @table } %>
  </div>
</div>
<% end %>